.MenuBar__inset {
  &:hover {
    .MenuBar__inset-title {
      font-size: 20px;
    }
    .MenuBar__inset-logo {
      zoom: 1.15;
    }
  }
}

.MenuBar__inset-active {
  .MenuBar__inset-title {
    font-size: 20px;
  }
  .MenuBar__inset-logo {
    zoom: 1.15;
  }
}
